.countView {
    height: 100px;
    font-family: 'Dosis', sans-serif;
}

.count {
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
}

.page-footer {
    padding: 0px;
    color: orange;
    background-color: #ee6e73;
    margin: 0px;
   
}


.dark-mode {
  background-color: #242526;
  color: #fafafa;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
